/* general stuff */

body {
	margin: 10px; padding: 0px; border: 0px;
	zfont-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	zbackground-color: #202020;
	font-size: 14px;
}

div { margin: 0px; padding: 0px; border: 0px; }

h1, h2, h3 { text-align: center; margin: 0px; padding: 0px; border: 0px; }

select {
	margin-bottom: 3px;
}

h1 { font-size: 120px; }

#heading {
	padding: 5px;
	font-size: 14px;
	background-color: LightGray;
	border-radius: 5px;
}

#instructions {
	width: 500px;
	float: right;
	border: 1px solid black;
	margin-left: 5px;
	padding: 5px;
}

textarea {
  width: 900px;
  height: 100px;
}

.textEntry {
	display: flex;
	align-items: top;
}

/* --------------------------------------------------- */
/* tables */

#tables table {
	width: 100%;
	font-size: 28px;
}

#tables h1 { 
	font-family: sans-serif;
	zfont-size: 80px;
} 

thead {
	font-size: 22px;
}

tbody {
	font-size: 22px
}

.emojis {
	font-size: 30px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.vs {
	font-size: 10px;
}


@media print {
	@page {
		size: landscape;
		margin: 0mm 5mm 5mm 5mm;
	}
	
	#heading {
		display: none !important;
	}
	
	hr {
		border-top: 1px solid white;
		page-break-after: always;
	}
		
	#tables h1 { 
		font-family: sans-serif;
		font-size: 150px;
	} 
	
}

	
}


